<div class="menu z-1 h-screen w-full fixed top-0 left-0 bg-forest p-16 z-10">
  {% for link in linklists[section.settings.menu].links %}
    <span class="relative">
      <a class="text-yellow text-9xl font-thunder mr-20 uppercase" href="{{ link.url }}">{{ link.title }}</a>
      <img class="absolute -top-10 right-6 w-8 h-8 menu-star" src="//cdn.shopify.com/s/files/1/0529/2461/2804/t/10/assets/menu-star-yellow.png?v=4045738522266210733">
    </span>
  {% endfor %}
</div>

<div class="burger-menu absolute top-8 right-16 z-50">
  <i class="fas fa-bars text-4xl text-yellow bars"></i>
  <i class="fas fa-times text-4xl text-yellow times duration-500"></i>
</div>

<style>
  .menu {
    transition: all 0.3s ease-in-out;
    transform: translateY(-100%);
  }

  .menu.overlay {
    transform: translateY(0);
  }

  .burger-menu:not(.close) .times {display: none;}
  .burger-menu.close .bars {display: none;}

  .times:hover {
    transform: rotate(180deg);
  }

  .menu-star {
    transition-property: transform;
    transition-duration: 1s;
    transform-origin: center;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: .5s;
  }

  @keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
</style>

<script>
  var burgerMenu = document.querySelector('.burger-menu');
  var overlay = document.querySelector('.menu');
  burgerMenu.addEventListener('click',function(){
    this.classList.toggle("close");
    overlay.classList.toggle("overlay");
  });
</script>

{% schema %}
  {
    "name": "Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Main menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}